body {
    background-color: #F0F0F3;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #25457A;
    margin: 60px 0 54px;
}

.section {
    background: #F0F0F3;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #FFFFFF;
    width: 86%;
}

#fromSection {
    margin-left: 12%;
}

#toSection {
    margin-right: 12%;
}

.amount {
    padding: 80px 24px;
    background-color: #F0F0F3;
    border-radius: 0 0 10px 10px;
}

#amountFrom, #amountTo {
    margin-right: 6px
}

select {
    background: #728AB7;
    border-radius: 10px 10px 0px 0px;
    padding: 24px 16px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    text-align-last:center; 
}

select option {
    font-size: 16px
}

input {
    width: 78%;
    font-size: 36px;
    text-align: center;
    color: #728AB7;
    background: transparent;
    border: none;
    outline: none
}

.currencyVal {
    color: #A6A5A3;
    font-size: 20px;
    display: inline;
    vertical-align: text-bottom;
    cursor: default
}

#switch {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.arrow-left, .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    display: inline-block
}

.arrow-left {
    border-right:16px solid #728AB7; 
}

.arrow-right { 
    border-left: 16px solid #728AB7;
}

.rate {
    color: #728AB7;
    margin-top: 28px;
    font-size: 20px;
}

#rateFrom {
    margin-left: 12%;
}

@media (min-width: 1440px) {
    h1 {
        margin-top: 140px;
    }
}

@media (max-width: 991px) {
    .section {
        width: 100%;
    }
    
    #fromSection, #toSection {
        margin: 0
    }

    #amountFrom, #amountTo {
        margin-right: 0;
    }

    #rateFrom {
        margin-left: 0
    }
}

@media (max-width: 768px) {
    input {
        width: 88%;
    }

    .col-md-2 {
        margin: 48px 0 72px;
    }

    #switch {
        transform: rotate(90deg);
        left: 45%
    }

    h1 {
        font-size: 40px;
        margin-top: 40px
    }

    .rate {
        text-align: center
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 36px;
        margin: 36px 0;
    }

    .amount {
        padding: 36px 24px;
    }

    input {
        width: 82%;
    }

    select {
        padding: 20px 16px;
        font-size: 18px
    }

    .rate {
        font-size: 18px
    }

    .col-md-2 {
        margin: 24px 0 72px;
    }
}